{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalidas Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header>
    <nav class="main-nav">
        <div class="nav-logo">
            <a href="{% url 'home' %}">Kalidas Portfolio</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
            <a href="{% url 'skills' %}" class="{% if request.resolver_match.url_name == 'skills' %}active{% endif %}">Skills</a>
            <a href="{% url 'projects' %}" class="{% if request.resolver_match.url_name == 'projects' %}active{% endif %}">Projects</a>
            <a href="{% url 'education' %}" class="{% if request.resolver_match.url_name == 'education' %}active{% endif %}">Education</a>
            <a href="{% url 'experience' %}" class="{% if request.resolver_match.url_name == 'experience' %}active{% endif %}">Experience</a>
            <a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
        </div>
    </nav>
</header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
