{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="home-hero experience-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Experience 💼</h1>
            <p>Here’s a summary of my professional and project experience:</p>
            <div class="hero-buttons experience-list">
                <span class="btn btn-outline">
                    Associate Software Developer<br>
                    Egton Medical Information Systems (EMIS), Chennai<br>
                        – Supported C#/.NET development<br>
                        – Optimized SQL queries for internal data handling<br>
                        – Collaborated in Agile team and maintained Git version control
                </span>
            </div>
        </div>
        <div class="hero-image">
            <img src="{% static 'main/images/profile.jpg' %}" alt="Kalidas">
        </div>
    </div>
</section>

{% endblock %}
