{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="home-hero about-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>About Me 👋</h1>
            <p>I am a passionate Software Developer who enjoys turning ideas into reliable and scalable applications. With hands-on experience in Python, Django, SQL, and web development, I focus on writing clean, efficient code and solving real-world problems through technology. Beyond coding, I value continuous learning, teamwork, and building solutions that create impact. My goal is to grow as a developer while contributing to projects that challenge me and make a difference.</p>
        </div>
        <div class="hero-image">
            <img src="{% static 'main/images/profile.jpg' %}" alt="Kalidas">
        </div>
    </div>
</section>
{% endblock %}
