{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="home-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Hi, I'm <span style="color:#00FF73;">Kalidas</span></h1>
            <p>a <strong>Python & Django developer</strong> passionate about building clean, efficient apps.</p>
                <!--<div class="hero-buttons">
                <a href="{% url 'projects' %}" class="btn">My Projects</a>
                <a href="{% url 'contact' %}" class="btn btn-outline">Contact Me</a>
            </div>-->
        </div>
        <div class="hero-image">
            <img src="{% static 'main/images/profile.jpg' %}" alt="Kalidas">
        </div>
    </div>
</section>
{% endblock %}
